# Files to ignore

.DS_Store
.externalNativeBuild
.gradle
.vscode
src/.vs
Examples/Android/SigLib_Graph/app/build
Examples/Android/SigLib_Graph/local.properties
Examples/Android/SigLib_Graph/.idea/workspace.xml
Examples/Android/SigLib_Graph/.idea/libraries
.DS_Store
/build
.DS_Store
/captures
*.dSYM/
*.app
*.bak
*.browse
*.cache
*.code-workspace
*.cout
*.d
*.dot
*.doj
*.dylib
*.elb
*.elf
*.eln
*.exp
*.gch
*.gpdt
*.gprof
*.hex
*.i*86
*.idb
*.ilc
*.ild
*.ilf
*.ilk
*.ils
*.iml
*.ipch
*.ko
*.lastbuildstate
*.la
*.lo
*.log
*.lst
*.map
*.manifest
*.ncb
*.o
*.o.d
*.obj
*.opt
*.out
*.pbi
*.pch
*.pdb
*.plg
*.pyd
*.r79
*.res
*.sdf
*.stackdump
*.su
*.swp
*.tds
*.tlog
*.user
*.x86_64

# VS Code
.vscode/

